
:root {
    --color-gray: #737789;
    --color-green: #16a085;
    --font: 'Quicksand', sans-serif;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font)
}
body {
    margin: 0 30px ;
}

.none {
    display: none;
}

/* ********** navbar ********** */
.navbar_container {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

#logo {
    width: 100px;
}

.logo_container {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

#add_new_artist {
text-align: center;
margin: auto 0 auto 0;
color: var(--color-gray);
cursor: pointer;
}

.separator {
    width: 200px;
    height: 0.5px;
    background: var(--color-gray);
    margin: 5px auto 5px auto;
}

/* ********** navbar END ********** */


/* ********** container ********** */

.container {
    margin-bottom: 50px;
}

.space {
    height: 30px;
}
.title_h1 {
    text-align: center;
    margin: 0 auto;
    color: var(--color-green);
    font-weight: 500;
}

.title_container {
    display: inline-block;
}

.title_container div{
    width: 100%;
}

/* ********** container END ********** */


/* ********** table list artists ********** */

.row_table_list_artist {
    cursor: pointer;
}

.row_table_list_artist:hover {
    background-color: #e0e0e0;
}

/* Add to JavaScript event */
.td_editable {
    border-bottom: 1px solid #000;
}

.row_key {
    display: none;
}

#table_container #myTable {
   width: 600px !important;
}


/* ********** table list artists END ********** */


/* ********** table style ********** */
.table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_container .table {
    display: flex;
    justify-content: center;
}

.dataTable thead tr th,
.dataTable tbody tr td{
    height: 40px;
}
/* ********** table style END ********** */


/* ********** buttons ********** */
.button_general {
    border-radius: 7px;
    width: 55px;
    border: 0.1px solid #000;
    cursor: pointer;
    background: #fff;
}

.button_general:hover {
    background-color: #b3b3b3;
    border: 0.5px solid #000;
}

.button_update {
    width: 150px;
    margin-top: 20px;
    padding: 5px 0px;
}

.button_active {
    background-color: var(--color-green);
}

/* ********** buttons END ********** */


/* ********** add artiss ********** */

.response_output {
    border-radius: 8px;
    border: 1px solid var(--color-gray);
    margin-top: 20px;
    padding: 5px;
}
/* ********** add artist END ********** */

/* ********** responsive ********** */

@media only screen and (max-width: 290px) {
    * {
        overflow: auto;
    }
}


@media only screen and (max-width: 360px) {
    * {
        font-size: 13px;
    }

    .title_h1 {
        font-weight: 600;
    }

    #table_container #myTable {
        width: 250px !important;
    }

    #table_container #myTable colgroup col{
        width: 0px !important;
    }

    #table_response_cell_born_th,
    #table_response_cell_death_th,
    #table_response_cell_born_td,
    #table_response_cell_death_td {
        display: none;
    }
}

@media only screen and (min-width: 360px) and (max-width: 410px) {
    #table_container #myTable {
        width: 300px !important;
    }

    #table_container #myTable colgroup col{
        width: 0px !important;
    }

    #table_response_cell_born_th,
    #table_response_cell_death_th,
    #table_response_cell_born_td,
    #table_response_cell_death_td {
        display: none;
    }
}

@media only screen and (min-width: 410px) and (max-width: 460px) {
    #table_container #myTable {
        width: 350px !important;
    }

    #table_container #myTable colgroup col{
        width: 0px !important;
    }

    #table_response_cell_born_th,
    #table_response_cell_death_th,
    #table_response_cell_born_td,
    #table_response_cell_death_td {
        display: none;
    }
}

@media only screen and (min-width: 460px) and (max-width: 510px) {
    #table_container #myTable {
        width: 400px !important;

    }

    #table_container #myTable colgroup col{
        width: 0px !important;
    }

    #table_response_cell_born_th,
    #table_response_cell_death_th,
    #table_response_cell_born_td,
    #table_response_cell_death_td {
        display: none;
    }
}

@media only screen and (min-width: 510px) and (max-width: 560px) {
    #table_container #myTable {
        width: 450px !important;
    }
}

@media only screen and (min-width: 560px) and (max-width: 606px) {
    #table_container #myTable {
        width: 500px !important;
    }
}

@media only screen and (min-width: 606px) and (max-width: 670px) {
    #table_container #myTable {
        width: 550px !important;
    }
}
/* ********** responsive END ********** */
