<!-- templates/artist_not_found.html -->

{% extends 'base.html' %}
<!-- added text to "block title" base   -->
{% block title %}
{{ super() }}
Artist not found
{% endblock %}

{% block content %}
<div style="text-align: center;" class="container dynamic-content">
    {% block title_page %}
        {% include 'title.html' %}
    {% endblock %}
    <div style="display: inline-block;">
        <h1 class="text-center title_h1">Artist not found: {{artist_name}}</h1>
        <div style="width: 100%;" class="separator"></div>
    </div>
</div>
{% endblock %}