<!-- templates/base.html -->


{% block head %}

    <title>
        {% block title %}Hip Hop | {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% block content %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Función para cargar dinámicamente el contenido al enviar el formulario
        $(document).ready(function() {
            $("#myForm").submit(function(event) {
                event.preventDefault(); // Evitar el envío del formulario estándar

                // Realizar una solicitud AJAX al servidor
                $.ajax({
                    url: "/artist_ajax",  // Cambia esto a la ruta adecuada en tu aplicación
                    type: "POST",  // Cambia a "POST" para que coincida con el método de tu ruta en Flask
                    data: { search: $("#searchInput").val() },  // Datos del formulario
                    success: function(data) {
                        // Actualizar el contenido dinámico
                        $("#dynamic-content").html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}