<div class="edit_panel">
    <button type="button" class="button_general button_update" id="button_edit_artist">Edit artist</button>
    <button type="button" class="button_general button_update none" id="btn_verify">Verify changes</button>
    <button type="button" class="button_general button_update none" id="btn_confirm">Confirm update</button>
    <div class="response_output none" id="response_output">
        <h4>Output</h4>
        <br>
        <div id="result_changes"></div>
    </div>
</div>