
<!-- "dynamic-content" is the div element will show according to the data received from "main.py" -->
<div id="dynamic-content">
    <h1>Response of request</h1>
<!-- -------------------------------------- Table 1 ---------------------------------------- -->
<!-- If "response" is received, then will show table list artist it show list all artists -->
    {% if (response) %}
    <table>
        <tbody>
            <tr class="table_head">
                <th>KEY</th>
                <th>AKA</th>
                <th>Full name</th>
                <th>Date born</th>
                <th>Deah date</th>
                <th>Country</th>
            </tr>
            {% for row in response %}
                <tr class="row_table_list_artist">
                    <td>{{ row.artist_key}}</td>
                    <td>{{ row.artist_aka}}</td>
                    <td>{{ row.artist_name}}</td>
                    <td>{{ row.artist_dateborn}}</td>
                    <td>{{ row.artist_deathdate}}</td>
                    <td>{{ row.artist_country}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

<!-- -------------------------------------- Table 2 ---------------------------------------- -->
<!-- If "response2" is received then, will show table artist it show only an artist -->
    {% if (response2) %}

    <table>
        <tbody>
            <tr class="table_head">
                <th>KEY</th>
                <th>AKA</th>
                <th>Full name</th>
                <th>Date born</th>
                <th>Deah date</th>
                <th>Country</th>
            </tr>
            <tr>
                <td class="artist_td" id="artistKey" style="border-bottom: 0">{{ response2.artist_key}}</td>
                <td class="artist_td" id="artistAka">{{ response2.artist_aka}}</td>
                <td class="artist_td" id="artistName">{{ response2.artist_name}}</td>
                <td class="artist_td" id="artist_date_born">{{ response2.artist_dateborn}}</td>
                <td class="artist_td" id="artist_date_death">{{ response2.artist_deathdate}}</td>
                <td class="artist_td" id="artistCountry">{{ response2.artist_country}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="button_general button_update" id="button_edit_artist">Edit artist</button>
    <button type="button" class="button_general button_update none" id="btn_verify">Verify changes</button>
    <button type="button" class="button_general button_update none" id="btn_confirm">Confirm update</button>
    <div class="response_output none" id="response_output">
        <h4>Output</h4>
        <br>
        <div id="result_changes"></div>
    </div>

    <script defer src="{{ url_for('static', filename='js/update_artist.js') }}"></script>
    {% endif %}

    <!-- -------------------------------------- Table 3 ---------------------------------------- -->
<!-- If "response3" is received then, will show table artist it show only an artist | Method ["GET"] -->
{% if (response3) %}

<table>
    <tbody>
        <tr class="table_head">
            <th>KEY</th>
            <th>AKA</th>
            <th>Full name</th>
            <th>Date born</th>
            <th>Deah date</th>
            <th>Country</th>
        </tr>
        <tr>
            <td class="artist_td" id="artistKey" style="border-bottom: 0">{{ response3.artist_key}}</td>
            <td class="artist_td" id="artistAka">{{ response3.artist_aka}}</td>
            <td class="artist_td" id="artistName">{{ response3.artist_name}}</td>
            <td class="artist_td" id="artist_date_born">{{ response3.artist_dateborn}}</td>
            <td class="artist_td" id="artist_date_death">{{ response3.artist_deathdate}}</td>
            <td class="artist_td" id="artistCountry">{{ response3.artist_country}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="button_general button_update" id="button_edit_artist">Edit artist</button>
<button type="button" class="button_general button_update none" id="btn_verify">Verify changes</button>
<button type="button" class="button_general button_update none" id="btn_confirm">Confirm update</button>
<div class="response_output none" id="response_output">
    <h4>Output</h4>
    <br>
    <div id="result_changes"></div>
</div>

<script defer src="{{ url_for('static', filename='js/update_artist.js') }}"></script>
{% endif %}
</div>