<div style="text-align: center;">
    {% if (response) %}
    <div class="title_container">
        <h1 class="text-center title_h1">Artists List</h1>
        <div class="separator"></div>
    </div>
    {% endif %}

    {% if (response2) %}
    <div class="title_container">
        <h1 class="text-center title_h1">Artist</h1>
        <div class="separator"></div>
    </div>
    {% endif %}

    {% if (response3) %}
    <div class="title_container">
        <h1 class="text-center title_h1">Artist</h1>
        <div class="separator"></div>
    </div>
    {% endif %}

    {% if (error404) %}
        <div class="title_container">
            <h1 class="text-center title_h1">Error 404</h1>
            <div class="separator"></div>
        </div>
    {% endif %}

    {% if (error405) %}
    <div class="title_container">
        <h1 class="text-center title_h1">Error 405</h1>
        <div class="separator"></div>
    </div>
    {% endif %}

    {% if (error500) %}
    <div class="title_container">
        <h1 class="text-center title_h1">Error 500</h1>
        <div class="separator"></div>
    </div>
    {% endif %}
</div>